<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script>
    <title>Receipt Page</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
    <iframe height="0" width="0" src="//2895566.fls.doubleclick.net/activityi;src=2895566;type=purch825;cat=debug661;u3=199.00;u2=6b63686c-fe6a-11e2-a046-00259060af1c;u1=chicago;u18=royal-princess-limo-concierge-service-4;u4=undefined;qty=1;cost=199.00;ord=198905327;~oref=https%3A%2F%2Fstaging.groupon.com%2Fdeals%2Froyal-princess-limo-concierge-service-4%2Fconfirmation%3Fpledge_id%3D7409411?" style="display: none; visibility: hidden;"></iframe><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script type="text/javascript" async="" src="//www.googleadservices.com/pagead/conversion_async.js"></script><script async="" src="//www.googletagmanager.com/gtm.js?id=GTM-B76Z"></script><script>
      BOOMR = {};
      BOOMR["t_lstart"] = new Date().getTime();

      window.Groupon || (window.Groupon = {});
      Groupon.Layout = {};

      Groupon.Layout.reserveEnabledDivision = true;

      var Optimize = {
        suiteData: {
          app:          "checkout",
          cookieDomain: ".groupon.com",
          pageType:     "deals/orders/receipt/show",
          division:     "chicago",
          country:      "US",
          channel:      "" || "main"
        }
      };

      Optimize.clientConfig =
        
        {}
;

      Optimize.finchConfig = (function () {
        var appConfig =
            
            {}
;
        var layoutConfig =
          {"hide-reserve-tab":{"experiments":{"HideReserveTabForUsers":{"name":"HideReserveTabForUsers","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab"],"guards":["not_subscription_page","division_enabled_for_reserve"]}},"diversion_type":"CookieDiversion"},"subscriptions_ui":{"experiments":{"subscriptions_ui_experiment":{"name":"subscriptions_ui_experiment","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["subscription_modalDialog_4","subscription_modalDialog_3","subscription_modalDialog_2","subscription_modalDialog_1"]}},"diversion_type":"CookieDiversion"},"PromNight":{"experiments":{"PromNightHeaderV1":{"name":"PromNightHeaderV1","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["showPromNight","showOldGroupon"]}},"diversion_type":"CookieDiversion"}}
          ;
        for (var key in layoutConfig) {
          if(layoutConfig.hasOwnProperty(key)) {
            appConfig[key] = layoutConfig[key];
          }
        }
        return appConfig;
      }());

    </script>
    <script>window.JSON || document.write('<script src="//staging.groupon.com/layout/js/json2.js">\x3C/script>')</script>
    <link href="//staging.groupon.com/layout/assets/gig_application_layout-favicon-5414457d50.ico" rel="shortcut icon">
    <script src="//staging.groupon.com/layout/assets/main-v1.4.2-1ef830e695.js"></script>
      <script>
        var boomerangConfig =
          
          {}
;
        Groupon.performance.initBoomerang(boomerangConfig);
      </script>
    <link href="//staging.groupon.com/layout/assets/gig_application_layout-v1.4.2-659846b14c.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 7]>
    <script src="//staging.groupon.com/layout/js/groupon-icon-font-lte-ie7.js"></script>
    <![endif]-->

        <link href="/checkout/assets/styles-bd7712d1e1.css" rel="stylesheet" type="text/css">
  </head>

  <body class="og ltr en_US en_XX receipt" dir="ltr" style="">
    <div style="visibility: hidden; position: absolute;">
      <div style="visibility: hidden; position: absolute;">
        <script type="text/javascript">
          var dataLayer =
            {"dl_currency":"USD","dl_deal_price":"199.00","dl_division":"chicago","dl_option_id":7409411,"dl_permalink":"royal-princess-limo-concierge-service-4","dl_sku":"royal-princess-limo-concierge-service-4","dl_order_id":198905327,"dl_order_qty":1,"dl_order_unit":"199.00","dl_order_total":"199.00","dl_tracking_event":"purchase"}
      
;
      
          dataLayer.dl_user_id = "14cd6cac-d7ee-11e2-af52-00259060b5c0";
    window.dataLayer = [dataLayer];
        </script>
      
        
        <noscript>&lt;iframe src="//www.googletagmanager.com/ns.html?id=GTM-B76Z"
        height="0" width="0" style="display:none;visibility:hidden"&gt;&lt;/iframe&gt;</noscript>
        <script>
          var placeGoogleTagManager = function(){
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s) [0],j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src='//www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);})(window,document,'script','dataLayer','GTM-B76Z');
          };
          $(document).ready(placeGoogleTagManager);
        </script>
        
      </div>
    </div>

    <div id="global-container">


      <header class="header" data-bhw="Header" role="banner" data-bhw-path="Header">
        <div class="row">
          <div class="twelve columns">
            <a href="/" class="logo" data-bhw="Logo" data-track="{&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;logo_click&quot;}" data-bhw-path="Header|Logo"></a>
      
              <nav class="primary-nav" role="navigation">
          <ul>
            <li data-bhw="NavHome" data-bhw-path="Header|NavHome">
              <a href="/chicago?brd=false">Featured Deal</a>
            </li>
    <li data-bhw="NavAllDeals" data-bhw-path="Header|NavAllDeals">
              <a href="/browse/chicago">All Deals</a>
            </li>
            <li data-bhw="NavGetaways" data-bhw-path="Header|NavGetaways">
              <a href="/getaways">Getaways</a>
            </li>
            <li data-bhw="NavGoods" data-bhw-path="Header|NavGoods">
              <a href="/goods">Goods</a>
            </li>
            <li class="reserve-tab hide" data-bhw="NavReserve">
              <a href="/reserve/chicago" class="reserve G_event E-GlobalTopNavNH_GReserve">Reserve</a>
            </li>
        
                <li class="Occasion" data-bhw="NavOccasion" data-bhw-path="Header|NavOccasion">
          <a href="/occasions" class="G_event E-GobalTopNavNH_GrouponOccasion" data-track="{&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;occasion_tab_selected&quot;}">Fall Savings</a>
        </li>
    <li class="gifting" data-bhw="NavGifts" data-bhw-path="Header|NavGifts">
          <a href="/gifts" class="link G_event E-GobalTopNavNH_Gifts_GiftableDeals" data-track="{&quot;n&quot;:&quot;gifts&quot;,&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;topnav_click&quot;}">Gifts<span></span></a>
        </li>
  </ul>
        </nav>

            <nav class="user-menu signed-in">
              <a href="/mygroupons" class="user-name">55823228-first_name 5.</a>
              <ul class="my-stuff">
                <h6>My Stuff</h6>
                <li><a id="user-groupons" href="http://localhost:3000/view_timeline">My Groupons</a></li>
                <li><a id="user-gift_cards" href="/users/55823228-permalink/gift_cards">My Gifts</a></li>
                <li><a id="user-account" href="/users/55823228-permalink/account">My Account</a></li>
                <li><a id="user-profile" href="/users/55823228-permalink/profile/edit">My Profile</a></li>
                  <li><a id="user-subscriptions" href="/subscription_center">My Email Subscriptions</a></li>
          <li><a href="/logout" class="sign-out" id="sign-out">Sign Out</a></li>
              </ul>
            </nav>

      
          </div>
        </div>
      </header>

      <nav class="secondary-nav" role="navigation">
        <div class="row">
          <div class="twelve columns">
    </div>
        </div>
      </nav>

        <div class="row sub-header">
          <div class="twelve columns">
      
              <div class="four columns">
            <a href="/visitor_referral" class="refer-a-friend" data-bhw="ReferFriends" data-bhw-path="ReferFriends">
              <span class="icon-currency"></span>
    Refer Friends. Get $10*
          </a>
        </div>
    </div>
      
          <div class="twelve columns">
          </div>
        </div>

      
<div id="main" class="row">
  <div class="module">
    <div class="module-body">
      <div id="receipt_page_content">
        <div class="receipt_header text-center" data-bhw="OrderReceipt" data-bhc="order:198905327" data-bhw-path="OrderReceipt" data-bhc-path="OrderReceipt|order:198905327">
            <h1 class="icon-check-circle"><span>Congrats on your shiny new Groupon!</span></h1>
            <h2 data-bhc="deal:royal-princess-limo-concierge-service-4" data-bhd="{&quot;accessType&quot;:&quot;extended&quot;}" data-bhc-path="OrderReceipt|order:198905327|deal:royal-princess-limo-concierge-service-4">
              Three hour stretch SUV limo ride for up to 14 people
            </h2>

          <div class="loader csspseudoanimations" style="display: none;"><span class="icon-g-loader"></span></div>
        </div>

            <div id="receipt_what_next" class="text-center" style="display: block;">
              <p>Thanks for your purchase! Like a timid ghost or a 1997 text message, your Groupon may take a few minutes to appear, but we'll email you as soon as it's ready.</p><p>In the meantime, you can make changes or check its status in <a href="/users/55823228-permalink/groupons" data-bhw="MyGrouponsLink" data-bhw-path="MyGrouponsLink">My Groupons</a>.</p>
            </div>

        <center>

          <a href="http://www.facebook.com/sharer.php?u=http://staging.groupon.com/deals/royal-princess-limo-concierge-service-4" class="social-share facebook" style="display: inline;">
            <span class="social circular icon-facebook"></span>
          </a>

          <a href="https://twitter.com/intent/tweet?url=http://staging.groupon.com/deals/royal-princess-limo-concierge-service-4&amp;text=Stretch SUV Limo for Up to 14&amp;via=groupon" class="social-share twitter" style="display: inline;">
            <span class="social circular icon-twitter"></span>
          </a>

          <a href="http://pinterest.com/pin/create/button/?url=http://staging.groupon.com/deals/royal-princess-limo-concierge-service-4&amp;media=https://img.grouponcdn.com/deal/sbX53Ghn1aKCSjLNgXyr/1E-440x267/v1/t440x300.jpg&amp;description=Three hour stretch SUV limo ride for up to 14 people" class="social-share pinterest" style="display: inline;">
            <span class="social circular icon-pinterest"></span>
          </a>

          <a href="https://plus.google.com/share?url=http://staging.groupon.com/deals/royal-princess-limo-concierge-service-4" class="social-share google-plus" style="display: inline;">
            <span class="social circular icon-google-plus"></span>
          </a>

        </center>
        <div id="cross_sell_deals" data-bhw="OrderReceiptDealTileContainer" style="display: block;" data-bhw-path="OrderReceiptDealTileContainer">
          <h2 class="post_purchase_header icon-lock-open">
            <span>You unlocked these top deals!</span>
            <span class="light">(Limited time only)</span>
          </h2>
          <ul class="block-grid three-up post_purchase_deals">
            <li data-bhc="deal:the-bodylux-731" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:the-bodylux-731">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/the-bodylux-731">
                  <img src="https://img.grouponcdn.com/pwa_test/mB9rskKiWiQJG1g2FaE2/YV-186x165/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">test</p>
                    <p class="merchant-name">The BodyLux</p>
                    <p class="deal-location">On Location</p>
                    <p class="over-bought">Over <strong>0</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:gl-medieval-times-natl" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:gl-medieval-times-natl">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/gl-medieval-times-natl">
                  <img src="https://img.grouponcdn.com/deal/8uxp4SJQToroQM3aPRpi/Dk-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">Tournament Outing with Four-Course Dinner at Medieval Times (Up to 46% Off)</p>
                    <p class="merchant-name">Medieval Times</p>
                    <p class="deal-location">Schaumburg</p>
                    <p class="over-bought">Over <strong>5,000+</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:comedy-connection-rhode-island" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:comedy-connection-rhode-island">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/comedy-connection-rhode-island">
                  <img src="https://secure-assets-staging.grouponcdn.com/images/defaults/campaign_grid_4.jpg">
                  <figcaption>
                    <p class="deal-title">Comedy Connection Rhode Island</p>
                    <p class="merchant-name">Comedy Connection Rhode Island</p>
                    <p class="deal-location">East Providence</p>
                    <p class="over-bought">Over <strong>8</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:comix-entertainment-tracy-morgan" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:comix-entertainment-tracy-morgan">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/comix-entertainment-tracy-morgan">
                  <img src="https://secure-assets-staging.grouponcdn.com/images/defaults/campaign_grid_4.jpg">
                  <figcaption>
                    <p class="deal-title">Comix Entertainment Tracy Morgan</p>
                    <p class="merchant-name">Comix Entertainment</p>
                    <p class="deal-location">MGM Grand Theater and Fox Theater at Foxwoods Resort Casino</p>
                    <p class="over-bought">Over <strong>2</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:gl-improv-comedy-club-ontario-ca" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:gl-improv-comedy-club-ontario-ca">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/gl-improv-comedy-club-ontario-ca">
                  <img src="https://img.grouponcdn.com/deal/agGqHraxHYpUNH6K1NUN/CA-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">$25 for a Comedy Night and Appetizer for Two, Plus Four Future Shows at Ontario Improv (Up to $99.75 Value)</p>
                    <p class="merchant-name">Ontario Improv</p>
                    <p class="deal-location">Ontario</p>
                    <p class="over-bought">Over <strong>960+</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:gl-pittsburgh-improv-1" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:gl-pittsburgh-improv-1">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/gl-pittsburgh-improv-1">
                  <img src="https://img.grouponcdn.com/deal/qZjFCqtbY5AN41r3mCuf/iC-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">$25 for a Comedy-Show Package for Two at Pittsburgh Improv (Up to $141.75 Value)</p>
                    <p class="merchant-name">Pittsburgh Improv</p>
                    <p class="deal-location">Homestead</p>
                    <p class="over-bought">Over <strong>1,000+</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:gl-brea-improv-1" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:gl-brea-improv-1">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/gl-brea-improv-1">
                  <img src="https://img.grouponcdn.com/deal/eQvDJ2xkXmF3X6ev93Xp/a5-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">$25 for a Comedy Show for Two with One Appetizer and Four Future Shows at Brea Improv (Up to $141.75 Value)</p>
                    <p class="merchant-name">Brea Improv</p>
                    <p class="deal-location">Brea-Olinda</p>
                    <p class="over-bought">Over <strong>480+</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:gl-hollywood-improv-2" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:gl-hollywood-improv-2">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/gl-hollywood-improv-2">
                  <img src="https://img.grouponcdn.com/deal/wefDFxTfdZb7grpGPXNw/Jc-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">$25 for a Comedy Show for Two with One Appetizer and Four Future Shows at the Hollywood Improv (Up to $129.75 Value)</p>
                    <p class="merchant-name">Hollywood Improv</p>
                    <p class="deal-location">Melrose</p>
                    <p class="over-bought">Over <strong>190+</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
            <li data-bhc="deal:wildfish-3" data-bhd="{&quot;accessType&quot;:&quot;featured&quot;}" data-bhc-path="OrderReceiptDealTileContainer|deal:wildfish-3">
              <figure class="deal-card">
                <a href="http://staging.groupon.com/deals/wildfish-3">
                  <img src="https://img.grouponcdn.com/deal/mBPZ5euWsX26UoqfYRYv/XU-440x267/v1/t300x182.jpg">
                  <figcaption>
                    <p class="deal-title">$20 for $40 Worth of Japanese Food and Drinks at Wildfish</p>
                    <p class="merchant-name">Wildfish</p>
                    <p class="deal-location">Multiple Locations</p>
                    <p class="over-bought">Over <strong>8</strong> bought</p>
                  </figcaption>
                </a>
              </figure>
            </li>
          </ul>
        </div>

      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function() {
    Receipt.init({"orderId":198905327,"userId":"55823228-permalink","dealId":"royal-princess-limo-concierge-service-4","interactionGoal":{"permalink":"royal-princess-limo-concierge-service-4","value":"199.00","division":"chicago","country":"itier-unknown","activation":false,"quantity":1,"orderId":198905327}});
  });
</script>

<script type="text/javascript" src="/checkout/js/locale.js"></script>
<script type="text/javascript" src="/checkout/assets/main-66e11c85c5.js"></script>




        
          <footer class="footer-promos" data-bhw="FooterPromos" data-bhw-path="FooterPromos">
    <div class="row">
      <div class="five columns">
        <div class="app-promo">
          <img src="//staging.groupon.com/layout/assets/gig_footer-footer_phones-57fff71ec0.png" alt="Groupon for mobile devices">
          <h6>
            Great Deals <br> at Your Fingertips
          </h6>
          <p>
            Search, Purchase and Redeem <br> Groupons directly from your <br> mobile device.
          </p>
          <a href="/mobile?utm_source=gp&amp;utm_medium=footer&amp;utm_campaign=mlusers" class="btn btn-small" data-bhw="sms_footer" data-bhw-path="FooterPromos|sms_footer">Get the App Now</a>
        </div>
      </div>
  
      <div class="seven columns">
        <ul class="block-grid three-up">
          <li class="footer-promo works-promo">
            <img src="//staging.groupon.com/layout/assets/gig_footer-groupon-works-f0f403d571.png" alt="Groupon Works">
            <h6>Grow Your Business</h6>
            <p>
              Get new customers and grow your business by <a href="http://www.grouponworks.com/get-featured">selling on Groupon</a>. See why thousands of businesses have succeeded <a href="http://www.grouponworks.com/get-featured">advertising on Groupon</a>.          </p>
          </li>
  
          <li class="footer-promo grassroots-promo">
            <img src="//staging.groupon.com/layout/assets/gig_footer-groupon-grassroots-1967e6b2f7.png" alt="Groupon Grassroots">
            <h6>Help Your Community</h6>
            <p>
              Discover local causes and lend a helping hand. Make a big impact with one little click. <a href="http://grassroots.groupon.com/">Get involved</a>.
            </p>
          </li>
  
          <li class="footer-promo amex-promo">
            <img src="//staging.groupon.com/layout/assets/gig_footer-amex-29b85c126a.png" alt="American Express®">
            <h6>American Express® Cards Welcomed by Groupon</h6>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  
  <footer class="footer-sitemap" data-bhw="FooterLinks" role="contentinfo" data-bhw-path="FooterLinks">
    <div class="row">
      <div class="five columns">
        <ul class="block-grid two-up">
          <li>
            <h6>Company</h6>
            <ul class="unstyled">
              <li><a id="company-home" href="/">Home</a></li>
              <li><a id="company-about" href="/about">About Groupon</a></li>
              <li><a id="company-blog" href="/blog">Blog</a></li>
              <li><a id="company-press" href="/press">Press</a></li>
              <li><a id="company-jobs" href="http://jobs.groupon.com">Jobs</a></li>
              <li><a id="company-investor" href="http://investor.groupon.com">Investor Relations</a></li>
            </ul>
          </li>
          <li>
            <h6>Get Help</h6>
            <ul class="unstyled">
              <li><a id="help-faq" href="/faq">FAQ</a></li>
              <li><a id="help-support" href="/helpcenter">Customer Support</a></li>
              <li><a id="help-return" href="/groupon-promise">Return Policy</a></li>
              <li><a id="help-terms" href="/terms">Terms of Use</a></li>
              <li><a id="help-privacy" href="/privacy">Privacy Statement</a></li>
            </ul>
          </li>
        </ul>
  
        <div class="footer-social">
          <h6>Follow Us</h6>
          <div class="follow-us">
              <a href="http://facebook.com/groupon" class="icon-facebook"></a>
              <a href="http://twitter.com/groupon" class="icon-twitter"></a>
              <a href="/subscribe" class="icon-email"></a>
              <a href="http://feeds.feedburner.com/groupon" class="icon-feed"></a>
    </div>
      </div>    </div>
      <div class="seven columns">
        <ul class="block-grid three-up">
          <li>
            <h6>Work with Groupon</h6>
              <ul class="unstyled">
                <li><a id="work-advertise" href="http://www.grouponworks.com/get-featured">Advertise with Groupon</a></li>
                <li><a id="work-deal" href="http://www.grouponworks.com/get-featured">Run a Groupon Deal</a></li>
                <li><a id="work-payments" href="http://www.grouponworks.com/merchant-solutions/payments">Accept Groupon Payments</a></li>
                <li><a id="work-affiliates" href="http://www.grouponaffiliate.com/">Affiliate Program</a></li>
                <li><a id="work-developers" href="/pages/api">Developers / API</a></li>
                <li><a id="work-referrals" href="/widget">Groupon Referral Widget</a></li>
                <li><a id="work-community" href="http://grassroots.groupon.com">Help Your Community</a></li>
                <li><a id="work-terms" href="/merchant-terms-and-conditions">Merchant Terms &amp; Conditions</a></li>
              </ul>
          </li>
          <li>
            <h6>More...</h6>
              <ul class="unstyled">
                <li><a id="more-gifts" href="/gifts" data-bhw="FooterGiftsLink" data-bhw-path="FooterLinks|FooterGiftsLink">Gifts</a></li>
                <li><a id="more-gift-cards" href="/giftcards">Gift Cards</a></li>
                <li><a id="more-mobile" href="/mobile">Mobile</a></li>
                <li><a id="more-live-off-groupon" href="http://www.liveoffgroupon.com/">Live Off Groupon</a></li>
                <li><a id="more-breadcrumb" href="http://www.breadcrumbpos.com/">Breadcrumb iPad POS</a></li>
                <li><a id="more-photos" href="http://www.flickr.com/photos/grouponcorporate/sets">Share Photos</a></li>
              </ul>
          </li>
          <li>
            <h6>Unbeatable Deals for Local&nbsp;Adventures</h6>
            <p>
              Groupon is an easy way to get huge discounts while discovering fun activities in your city. Our daily [missing  value]local deals consist of <a href="/local/restaurants">restaurants</a>, <a href="/local/beauty-and-spas">spas</a>, <a href="/local/things-to-do">things to do</a>, <a href="/local/nightlife">nightlife</a>, <a href="/local/massage">massages</a>, <a href="/local/hair-salon">salons</a>, <a href="/local/getaways">hotels</a>, and a whole lot more, in hundreds of cities across the&nbsp;world.
            </p>
            <p>© 2013 Groupon, Inc.<br>All Rights Reserved.</p>
          </li>
        </ul>
      </div>
    </div>
  </footer>

        <div class="touch-footer hide">
  <a class="row" href="">
    Go to mobile site
  </a>
</div>

    </div>
  

<script type="text/javascript" src="https://static.criteo.net/js/ld/ld.js"></script><script type="text/javascript">var b_value=0<=document.cookie.search(/^b=|;\s*b=/i)?1:0;$.getScript("https://udmserve.net/udm/fetch.tg?ev260\x3da;dt\x3d2;b\x3d"+b_value+";");</script>
<noscript>
&lt;img src="https://udmserve.net/udm/fetch.tg?ev260=a;dt=3;b=2;" style="display: none;" border="0" height="1" width="1" alt="Underdogmedia"&gt;
</noscript><script type="text/javascript" src="https://secure.adnxs.com/px?id=85461&amp;seg=813776&amp;order_id=272419691&amp;value=199.00&amp;t=1"></script><script type="text/javascript">!function(){try{var a={unitPriceInMinorUnits:Math.round(100*google_tag_manager["GTM-B76Z"].macro(4)),productIdentifier:google_tag_manager["GTM-B76Z"].macro(9),orderId:google_tag_manager["GTM-B76Z"].macro(5),ccy:google_tag_manager["GTM-B76Z"].macro(36)||"USD",channel:google_tag_manager["GTM-B76Z"].macro(6),newCustomer:"new_membership_first_user_sign_up"===google_tag_manager["GTM-B76Z"].macro(7),numItems:google_tag_manager["GTM-B76Z"].macro(10)},f=document.location.protocol+"//tracking.groupon.com/orderConfirmation?",c,d=[],b;for(key in a)b=a[key],void 0===b&&(b=""),d.push(key+"\x3d"+b);c=d.join("\x26");var a="\x3cimg height\x3d'1' width\x3d'1' id\x3d'tsSale' src\x3d'"+
(f+c)+"'/\x3e",e=document.createElement("div");e.innerHTML=a;document.getElementsByTagName("body")[0].appendChild(e)}catch(g){}}();</script><div><img height="1" width="1" id="tsSale" src="https://tracking.groupon.com/orderConfirmation?unitPriceInMinorUnits=19900&amp;productIdentifier=royal-princess-limo-concierge-service-4&amp;orderId=198905327&amp;ccy=USD&amp;channel=&amp;newCustomer=false&amp;numItems=1"></div>
<script type="text/javascript">var setupCriteoConfig=function(){var a="undefined"!=typeof Groupon.division?Groupon.division.name:"",b={event:"viewSearch",ui_link:'chicago',ui_sub:1,ui_pur:1};""!=a&&(b.ui_loc=a);window.criteo_q=window.criteo_q||[];window.criteo_q.push({event:"setAccount",account:7575},{event:"setSiteType",type:"d"},{event:"trackTransaction",id:"198905327",item:[{id:'royal-princess-limo-concierge-service-4',price:'199.00',quantity:'1'}]},b)};$(document).ready(setupCriteoConfig);</script></body></html>