<html class=" js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths js flexbox canvas canvastext webgl no-touch geolocation postmessage websqldatabase indexeddb hashchange history draganddrop websockets rgba hsla multiplebgs backgroundsize borderimage borderradius boxshadow textshadow opacity cssanimations csscolumns cssgradients cssreflections csstransforms csstransforms3d csstransitions fontface generatedcontent video audio localstorage sessionstorage webworkers applicationcache svg inlinesvg smil svgclippaths"><!--<![endif]--><head>
    <style>

.progressbar_parent {
  
}
.progressbar_background {

}

.progressbar_wrapper {
  border: 1px solid #A0A0A0;
}
.progressbar_left {
  border: 1px solid #A0A0A0;
}
.progressbar_middle {
  border: 1px solid #A0A0A0;
}
.progressbar_right {
  border: 1px solid #A0A0A0;
}

.progressbar_text_horizontal {
  text-align: center;
  color: black;
  font-family: arial;
  font-size: 12px;
}
.progressbar_text_vertical {
  text-align: center;
  color: black;
  font-weight: bold;
  font-family: arial;
  font-size: 8px;
}
.progressbar_marker {
  background-image: url('images/marker2.png');
}
div.ex
{
text-align:center;
width:880px;
padding:10px;
margin:0px;
background-color:#FFFFCC
}
.testing:link,.testing:visited
{
display:block;
width:880px;
font-weight:bold;
color:#FFFFFF;
background-color:#98bf21;
text-align:center;
padding:4px;
text-decoration:none;
text-transform:uppercase;
}
.testing:hover, .testing:active
{
background-color:#7A991A;
}

</style>
    <title>My Profile</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta charset="utf-8">
<script type="text/javascript">
    function toggle_visibility(id) {
       var e = document.getElementById(id);
       if(e.style.display == 'block')
          e.style.display = 'none';
       else
          e.style.display = 'block';
    }
</script>

    <script>
      BOOMR = {};
      BOOMR["t_lstart"] = new Date().getTime();
      var collectOnload = function(){
        BOOMR["t_lonload"] = new Date().getTime();
      }
      var addListener = function(sType){
        if(window.addEventListener) {
          window.addEventListener(sType, collectOnload, false);
        } else if(window.attachEvent){
          window.attachEvent("on"+sType, collectOnload);
        }
      }
      if("onpagehide" in window) {
        addListener("pageshow");
      } else {
        addListener("load");
      }

      var applicationConfig =
        
        {}
;

      window.Groupon || (window.Groupon = {});
      Groupon.division = {"state":{"abbreviation":"IL"},"country":"USA","defaultLocale":"en","lat":41.8795,"timezoneIdentifier":"America/Chicago","areas":[],"lng":-87.6243,"id":"chicago","timezone":"Central Time (US & Canada)","name":"Chicago","selectCurrentDivision":"selected"};
      Groupon.Layout = {};
      Groupon.Performance = {};
      Groupon.Performance.boomerangUrl = "//staging.groupon.com/layout/assets/boomerang-0.9.2-basic.js"
      Groupon.Layout.reserveEnabledDivision = true;

      var Optimize = {
        suiteData: {
          app:          "itier_myprofile",
          cookieDomain: ".groupon.com",
          pageType:     "",
          division:     "chicago",
          country:      "US",
          channel:      "" || "main"
        }
      };

      Optimize.clientConfig =
        
        {}
;

      Optimize.finchConfig = (function () {
        var appConfig =
            {"now-ui":{"experiments":{"NowRemoveMap":{"name":"NowRemoveMap","status":"running","buckets":"0..49","bucket_min":0,"bucket_max":49,"javascript_test":true,"variants":["Original","RemoveMap"],"guards":["on_now_page"]},"NowRemoveMerchantWriteup":{"name":"NowRemoveMerchantWriteup","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Original","RemoveMerchantWriteup"],"guards":["on_now_page"]}},"diversion_type":"CookieDiversion"},"mygroupons":{"experiments":{"FirstComeFirstServeSocialGifting":{"name":"FirstComeFirstServeSocialGifting","status":"running","buckets":"200..299","bucket_min":200,"bucket_max":299,"javascript_test":true,"variants":["gifting"]}},"diversion_type":"CookieDiversion"},"relevance-tracking":{"experiments":{"TrackingTestDeferred":{"name":"TrackingTestDeferred","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["variant1","variant2"]}},"diversion_type":"CookieDiversion"},"deal-page-clicky":{"experiments":{"ClickyBannerHoldout":{"name":"ClickyBannerHoldout","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Original","HideClickyBanner"],"guards":["on_deal_or_division_page"]}},"diversion_type":"CookieDiversion"},"rewards-optin-checkout":{"experiments":{"RewardsOptInFromCheckout":{"name":"RewardsOptInFromCheckout","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","Display"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-switcheroo":{"experiments":{"switcheroo":{"name":"switcheroo","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["on","on","on","on","on","on","on","on","on","on"]}},"diversion_type":"CookieDiversion"},"deal-confirmation-stay-signed-in":{"experiments":{"StaySignedIn":{"name":"StaySignedIn","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Control","HideUnchecked"],"guards":["on_checkout_page"]}},"diversion_type":"CookieDiversion"},"torbit":{"experiments":{"TorbitMonitoring":{"name":"TorbitMonitoring","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Control","Torbit"]}},"diversion_type":"RandomDiversion"},"clicktale":{"experiments":{"Clicktale":{"name":"Clicktale","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["Control","Clicktale"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-dealdetails":{"experiments":{"dealDetails":{"name":"dealDetails","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":false,"variants":["Original","new"]}},"diversion_type":"CookieDiversion"},"rewards-optin-video-3":{"experiments":{"RewardsLandingVideo":{"name":"RewardsLandingVideo","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","VideoVariation"],"guards":["finch_rewards_optin_experiment_eligible?"]}},"diversion_type":"CookieDiversion"},"deal-page-rail":{"experiments":{"RightRailCallout":{"name":"RightRailCallout","status":"running","buckets":"700..799","bucket_min":700,"bucket_max":799,"javascript_test":false,"variants":["Control","Goods"],"guards":["on_deal_or_division_page","on_page_with_rail_list","getaways_callout_present"]},"SimilarDealsWidget":{"name":"SimilarDealsWidget","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Control","FiveDeals"],"guards":["on_deal_or_division_page","on_page_with_rail_list"]},"SimilarDealsWidgetUnderCallout":{"name":"SimilarDealsWidgetUnderCallout","status":"running","buckets":"100..199","bucket_min":100,"bucket_max":199,"javascript_test":true,"variants":["Control","FiveDeals"],"guards":["on_deal_or_division_page","on_page_with_rail_list"]},"SimilarDealsWidgetUnderDealTypes":{"name":"SimilarDealsWidgetUnderDealTypes","status":"running","buckets":"200..299","bucket_min":200,"bucket_max":299,"javascript_test":true,"variants":["Control","FiveDeals"],"guards":["on_deal_or_division_page","on_page_with_rail_list","on_page_with_deal_types_widget"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-postpurchasedeals":{"experiments":{"postPurchaseDeals":{"name":"postPurchaseDeals","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["on","on"]}},"diversion_type":"CookieDiversion"},"navigation":{"experiments":{"RewardsNewBadge":{"name":"RewardsNewBadge","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Control","HideBadge"],"guards":["on_page_with_rewards_new_badge"]}},"diversion_type":"CookieDiversion"},"now-ad-chiclets":{"experiments":{"AdPlacement":{"name":"AdPlacement","status":"running","buckets":"0..9","bucket_min":0,"bucket_max":9,"javascript_test":true,"variants":["Original","Top"],"guards":["on_now_page"]}},"diversion_type":"CookieDiversion"},"scheduler-book-online-text":{"experiments":{"ShowBookOnlineText":{"name":"ShowBookOnlineText","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","Display"],"guards":["on_deal_or_division_page","scheduler_deal"]}},"diversion_type":"CookieDiversion"},"performance-rollout":{"experiments":{"BoomerangMonitoring":{"name":"BoomerangMonitoring","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Boomerang","BoomerangUpdate"]}},"diversion_type":"RandomDiversion"},"api-mobile-all-threelinetitle":{"experiments":{"featuredDealsTitle":{"name":"featuredDealsTitle","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":false,"variants":["Original","threeline"]}},"diversion_type":"CookieDiversion"},"unsubscribe-flow":{"experiments":{"NewModals":{"name":"NewModals","status":"running","buckets":"0..899","bucket_min":0,"bucket_max":899,"javascript_test":true,"variants":["Feedback"],"guards":["on_sub_center_with_division"]},"NewModals2":{"name":"NewModals2","status":"running","buckets":"900..999","bucket_min":900,"bucket_max":999,"javascript_test":true,"variants":["Original","Feedback"],"guards":["on_sub_center_with_division"]}},"diversion_type":"CookieDiversion"},"now-occurrences":{"experiments":{"Occurrences":{"name":"Occurrences","status":"running","buckets":"0..149","bucket_min":0,"bucket_max":149,"javascript_test":true,"variants":["Original","Stylized","Standard"],"guards":["on_now_page"]}},"diversion_type":"CookieDiversion"},"getaways-gallery-20120503":{"experiments":{"DisableGetawaysStickyBar":{"name":"DisableGetawaysStickyBar","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Original","StickyBarDisabled"],"guards":["on_getaways_gallery_page"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-goods1205":{"experiments":{"goods1205":{"name":"goods1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","largeDealCards"]}},"diversion_type":"CookieDiversion"},"noop_og_experiment":{"experiments":{"OGCurrentUserReady":{"name":"OGCurrentUserReady","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["variant_1","variant_2"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-featureddeals1205":{"experiments":{"featuredDeals1205":{"name":"featuredDeals1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","Original","largeDealCards","heroWithSmallCards"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-nearbydealdetails1205":{"experiments":{"nearbyDealDetails1205":{"name":"nearbyDealDetails1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","new"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-nearby1205":{"experiments":{"nearby1205":{"name":"nearby1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","titleOnly"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-carousel1205":{"experiments":{"carousel1205":{"name":"carousel1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","Original","Original","on","on"],"guards":["not_iphone_2_6?"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-getaways1205":{"experiments":{"getaways1205":{"name":"getaways1205","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","largeDealCards"]}},"diversion_type":"CookieDiversion"},"subscribe-suggest-email":{"experiments":{"SuggestEmail":{"name":"SuggestEmail","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Control","SuggestEmail"],"guards":["on_sub_flow"]}},"diversion_type":"CookieDiversion"},"rewards-optin-terms":{"experiments":{"RewardsMCVariation":{"name":"RewardsMCVariation","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","MC"],"guards":["on_rewards_page","user_is_not_on_rewards"]}},"diversion_type":"CookieDiversion"},"dale-left-rail-052112":{"experiments":{"DaleRecentlyViewedDeals":{"name":"DaleRecentlyViewedDeals","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Control","ThreeDeals","FiveDeals"],"guards":["on_deal_or_division_page","on_dale","supports_localstorage"]}},"diversion_type":"CookieDiversion"},"redirect-effect":{"experiments":{"RedirectEffect":{"name":"RedirectEffect","status":"running","buckets":"0..50","bucket_min":0,"bucket_max":50,"javascript_test":true,"variants":["Control","ControlB","Redirect"],"guards":["should_redirect","not_dale","cookies_enabled"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-zerodaydeals":{"experiments":{"zeroDayDeals":{"name":"zeroDayDeals","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","on","on","on","on","on","on","on","on","on"]}},"diversion_type":"CookieDiversion"},"receipt-page-rvd":{"experiments":{"ReceiptPageRVD":{"name":"ReceiptPageRVD","status":"running","buckets":"101..200","bucket_min":101,"bucket_max":200,"javascript_test":true,"variants":["Control","RecentlyViewedDeals"],"guards":["on_receipt_page","supports_localstorage"]}},"diversion_type":"CookieDiversion"},"ShortDescriptor":{"experiments":{"SideDealsShortDescriptor":{"name":"SideDealsShortDescriptor","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":true,"variants":["Control","ShortDescriptor"],"guards":["on_deal_or_division_page"]}},"diversion_type":"CookieDiversion"},"transaction-succeeded-email":{"experiments":{"EmailsWithRankedDeals":{"name":"EmailsWithRankedDeals","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","WithRankedDeals"]}},"diversion_type":"CookieDiversion"},"goods-pitch-html-tabs":{"experiments":{"TabbedDescription":{"name":"TabbedDescription","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","Tabs"],"guards":["on_goods_deal"]}},"diversion_type":"CookieDiversion"},"dale-below-deal-062512":{"experiments":{"DaleSimilarDealsWidget":{"name":"DaleSimilarDealsWidget","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Control","TitleA","TitleB"],"guards":["on_deal_or_division_page","on_dale"]}},"diversion_type":"CookieDiversion"},"hide_checkout_header_footer":{"experiments":{"HideCheckoutHeaderFooter":{"name":"HideCheckoutHeaderFooter","status":"running","buckets":"0..149","bucket_min":0,"bucket_max":149,"javascript_test":true,"variants":["Control","Hide"],"guards":["not_dale","on_checkout_page"]}},"diversion_type":"CookieDiversion"},"welcome-email":{"experiments":{"WelcomeEmailWithRankedDeals":{"name":"WelcomeEmailWithRankedDeals","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["WithRankedDeals","Control"]}},"diversion_type":"CookieDiversion"},"unsubscribe-channel-flow":{"experiments":{"ChannelNewModals":{"name":"ChannelNewModals","status":"running","buckets":"0..399","bucket_min":0,"bucket_max":399,"javascript_test":true,"variants":["ChannelFeedback"],"guards":["on_sub_center_with_channel"]}},"diversion_type":"CookieDiversion"},"confirmation_page_billing_info_copy":{"experiments":{"ShowExtraBillingCopy":{"name":"ShowExtraBillingCopy","status":"running","buckets":"0..299","bucket_min":0,"bucket_max":299,"javascript_test":true,"variants":["HeaderCopy","BillingAddressCopy","Control"],"guards":["on_checkout_page"]}},"diversion_type":"CookieDiversion"},"OptionsWidget":{"experiments":{"OptionsWidgetVariations":{"name":"OptionsWidgetVariations","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["OptionsWidget"],"guards":["on_goods_deal"]}},"diversion_type":"CookieDiversion"},"deals-you-love-081612":{"experiments":{"DealsYouLoveChicklet":{"name":"DealsYouLoveChicklet","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Control","ShowChicklet"],"guards":["in_deals_you_love_division","on_all_deals_page","subscriber_or_logged_in_user"]}},"diversion_type":"SubscriberCookieDiversion"},"receipt-page-facebook-connect":{"experiments":{"PostPurchaseRAFShare":{"name":"PostPurchaseRAFShare","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["Dollar_10_referrer_1_activates","Dollar_5_referrer_1_purchases","Free_deal_referrer_3_purchases","Dollar_5_referrer_referee_1_activates","Fb_conn_dollar_10_referrer_1_activates","Fb_conn_dollar_5_referrer_1_purchases","Fb_conn_Free_deal_referrer_3_purchases","Fb_conn_dollar_5_rr_1_activates","Control","Non_incentive_pp_raf"],"guards":["on_receipt_page","not_on_ie7"]}},"diversion_type":"CookieDiversion"},"touch-paypal":{"experiments":{"Paypal":{"name":"Paypal","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["UsePaypal","Control"],"guards":["is_paypal?"]}},"diversion_type":"CookieDiversion"},"performance-boomerang":{"experiments":{"BoomerangDealImageLoad":{"name":"BoomerangDealImageLoad","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["DealImageLoad"],"guards":["onDealPage","not_on_ie7"]}},"diversion_type":"RandomDiversion"},"new-header-and-all-deals-vs-browse":{"experiments":{"LocalNavHeaderWithBrowseLink":{"name":"LocalNavHeaderWithBrowseLink","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["LocalNavWithBrowseLink"],"guards":["division_enabled_for_browse","not_on_touch_site"]}},"diversion_type":"CookieDiversion"},"goods-returns":{"experiments":{"ReturnsEnabled":{"name":"ReturnsEnabled","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["ReturnsEnabled"]}},"diversion_type":"CookieDiversion"},"seo-active-deal-widget-10-3-2012":{"experiments":{"ShowMonetizationWidget":{"name":"ShowMonetizationWidget","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","ShowWidgetCatSubCat"],"guards":["on_expired_G1_page_or_Now_page"]}},"diversion_type":"CookieDiversion"},"Checkout-20121004":{"experiments":{"VoucherSubtitle":{"name":"VoucherSubtitle","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Original","ShowVoucherSubtitle"],"guards":["on_checkout_page","not_on_travel_channel"]}},"diversion_type":"CookieDiversion"},"checkout-incentive-cc-required":{"experiments":{"ForceShowBillingRecord":{"name":"ForceShowBillingRecord","status":"running","buckets":"0..99","bucket_min":0,"bucket_max":99,"javascript_test":true,"variants":["Original","ForceShowBillingRecord"],"guards":["on_checkout_page"]}},"diversion_type":"CookieDiversion"},"gift-wizard":{"experiments":{"GiftWizard":{"name":"GiftWizard","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["TwoUpScheduledDelivery"],"guards":["on_checkout_page","not_on_ie8","not_on_ie7","not_on_ie6"]}},"diversion_type":"CookieDiversion"},"address-book-lite":{"experiments":{"AddressBookLite":{"name":"AddressBookLite","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":false,"variants":["Control","SecureAddressBookLite"]}},"diversion_type":"CookieDiversion"},"browse-as-home-page":{"experiments":{"BrowseAsHomePage":{"name":"BrowseAsHomePage","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["RedirectToBrowse"],"guards":["onDivisionPage","inBrowseExperiment"]}},"diversion_type":"CookieDiversion"},"unsubscribe-channel-mobile-promo":{"experiments":{"ChannelMobilePromo":{"name":"ChannelMobilePromo","status":"running","buckets":"0..199","bucket_min":0,"bucket_max":199,"javascript_test":false,"variants":["ShowWeeklyDealDigest","Control"],"guards":["sub_center_with_channel?"]}},"diversion_type":"CookieDiversion"},"new-goods-channel-page":{"experiments":{"GoodsChannelPage":{"name":"GoodsChannelPage","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","New"]}},"diversion_type":"CookieDiversion"},"new-goods-detail-page":{"experiments":{"GoodsDetailPage":{"name":"GoodsDetailPage","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","New"]}},"diversion_type":"CookieDiversion"},"goods-expedited-shipping":{"experiments":{"ExpeditedShipping":{"name":"ExpeditedShipping","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["ShowExpeditedShipping"],"guards":["on_goods_expedited_shipping_deal_confirmation_or_edit_order_page?"]}},"diversion_type":"CookieDiversion"},"deal-page-raf":{"experiments":{"DealPageSharing":{"name":"DealPageSharing","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["NonRAFNonProminent"],"guards":["on_deal_or_division_page","not_on_ie7","not_on_ie6"]}},"diversion_type":"CookieDiversion"},"top-gifted-deals-algorithm":{"experiments":{"TopGiftedAlgorithm":{"name":"TopGiftedAlgorithm","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Version_1"]}},"diversion_type":"CookieDiversion"},"preload-assets":{"experiments":{"PreloadConfirmationPageAssets":{"name":"PreloadConfirmationPageAssets","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["PreloadAssets","Control"],"guards":["on_deal_or_division_page"]}},"diversion_type":"CookieDiversion"},"toy-catalog-banners":{"experiments":{"ToyCatalogBanners":{"name":"ToyCatalogBanners","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control"]}},"diversion_type":"CookieDiversion"},"performance-lazyload":{"experiments":{"LazyLoadingImages":{"name":"LazyLoadingImages","status":"running","buckets":"100..199","bucket_min":100,"bucket_max":199,"javascript_test":true,"variants":["Control","LazyLoad"]}},"diversion_type":"RandomDiversion"},"GiftingDealMixerWeighting":{"experiments":{"GiftingDealMixerWeighting":{"name":"GiftingDealMixerWeighting","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["NoWeighting","Strategy_1","Strategy_2","Strategy_3","Strategy_4"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-nearbycard1209":{"experiments":{"nearbyCard1209":{"name":"nearbyCard1209","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["BigCard"]}},"diversion_type":"CookieDiversion"},"Inbenta-12_03_12":{"experiments":{"SupportInbenta":{"name":"SupportInbenta","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":true,"variants":["Control","Experiment"],"guards":["on_support_page"]}},"diversion_type":"CookieDiversion"},"heart-x":{"experiments":{"HeartX":{"name":"HeartX","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","HeartXOnly","HeartXTogether","HeartXTogetherWithOnboarding"],"guards":["onBrowsePage","apiDealRecommendationsEnabled"]}},"diversion_type":"CookieDiversion"},"mobile-animation":{"experiments":{"MobileAnimation":{"name":"MobileAnimation","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowMobileAnimation"],"guards":["inBrowseExperiment","onBrowseOrDealPages","inSearchExp","mobileAnimationEnabled","searchBarEnabled","not_on_ie6","not_on_ie7"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-iaftoast1211":{"experiments":{"iafToast1211":{"name":"iafToast1211","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["on"]}},"diversion_type":"CookieDiversion"},"InteractionTier":{"experiments":{"RedirectSubscriptionFlowToItier":{"name":"RedirectSubscriptionFlowToItier","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["itier"],"guards":["finch_not_touch_request?"]}},"diversion_type":"CookieDiversion"},"no-redirect-to-subflow":{"experiments":{"NoRedirectToSubflow":{"name":"NoRedirectToSubflow","status":"running","buckets":"0..49","bucket_min":0,"bucket_max":49,"javascript_test":false,"variants":["Control","NoRedirect"],"guards":["finch_not_touch_request?"]}},"diversion_type":"CookieDiversion"},"location-bar-autocomplete":{"experiments":{"LocationBarAutocomplete":{"name":"LocationBarAutocomplete","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","Autocomplete"],"guards":["inBrowseExperiment","onBrowseOrDealPages"]}},"diversion_type":"CookieDiversion"},"keyword-bar-autocomplete":{"experiments":{"KeywordBarAutocomplete":{"name":"KeywordBarAutocomplete","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","Autocomplete"],"guards":["inBrowseExperiment","onBrowseOrDealPages"]}},"diversion_type":"CookieDiversion"},"gifting-max-deals":{"experiments":{"GiftingMaxDeals":{"name":"GiftingMaxDeals","status":"running","buckets":"0..399","bucket_min":0,"bucket_max":399,"javascript_test":false,"variants":["Control","DoubleMaxDeals"],"guards":["on_giftable_deals_page?"]}},"diversion_type":"CookieDiversion"},"gifts-page-change-location-copy":{"experiments":{"GiftsPageChangeLocationCopy":{"name":"GiftsPageChangeLocationCopy","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","AlternateCopy"],"guards":["on_gifts_page","no_location_search_cookie"]}},"diversion_type":"CookieDiversion"},"MyGrouponsMobileModal":{"experiments":{"MyGrouponsMobileModal":{"name":"MyGrouponsMobileModal","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowModal2"],"guards":["on_my_groupons_page"]}},"diversion_type":"CookieDiversion"},"touch-ihq-layer-2003INTL":{"experiments":{"touch-ihq2003INTL":{"name":"touch-ihq2003INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","hideIHQ"],"guards":["ihq_enabled?"]}},"diversion_type":"CookieDiversion"},"local-header-variants":{"experiments":{"CategoryNavVariants":{"name":"CategoryNavVariants","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowCategoriesAndNewDeals"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-nearbyfreetextsearch1212":{"experiments":{"nearbyFreeTextSearch1212":{"name":"nearbyFreeTextSearch1212","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["on"]}},"diversion_type":"CookieDiversion"},"preload-assets-deal-page":{"experiments":{"PreloadDealPageAssets":{"name":"PreloadDealPageAssets","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["PreloadAssets"],"guards":["on_gallery_or_browse_page"]}},"diversion_type":"CookieDiversion"},"touch-smartAppIphone2504INTL-layer":{"experiments":{"touch-smartAppIphone2504INTL":{"name":"touch-smartAppIphone2504INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["nativeDesign","Control","twoBtnDesign"],"guards":["is_eu_platform?","is_iphone_ios6_request?","include_link_to_app?","email_request_eu?","left_to_right_country?"]}},"diversion_type":"CookieDiversion"},"giftable-occasions-pull-ads-position":{"experiments":{"GiftableOccasionsPullAdsPosition":{"name":"GiftableOccasionsPullAdsPosition","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["ShowAfterGiftFinder"],"guards":["on_brwose_enabled_division?","on_giftable_occasions_page?"]}},"diversion_type":"CookieDiversion"},"GsmEmailSubscription":{"experiments":{"GsmEmailSubscriptionExperiment":{"name":"GsmEmailSubscriptionExperiment","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["control","subModal3Social","subModalContinue"],"guards":["on_gsm_platform_page","user_has_no_sub_cookie","request_from_normal_seo","not_explicitly_skip_modal"]}},"diversion_type":"CookieDiversion"},"merchant-lists":{"experiments":{"MerchantLists":{"name":"MerchantLists","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Experiment","Control"],"guards":["inBrowseExperiment","onBrowseOrDealPages"]}},"diversion_type":"CookieDiversion"},"goods-page-browse":{"experiments":{"GoodsWithBrowseLayout":{"name":"GoodsWithBrowseLayout","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["ShowBrowseLayout"],"guards":["on_goods_channel_or_dealpage?"]}},"diversion_type":"RandomDiversion"},"touch-link-to-app-iphone":{"experiments":{"smartAppBannerRedesigniPhone0707US":{"name":"smartAppBannerRedesigniPhone0707US","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["showAppBanner","Control"],"guards":["is_us_platform?","is_iphone_ios6_request?","include_link_to_app?","email_deal_info_request_us?"]}},"diversion_type":"CookieDiversion"},"browse-goods-layout":{"experiments":{"DealCardLayout":{"name":"DealCardLayout","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["TwoUp"],"guards":["onBrowseGoodsPage"]}},"diversion_type":"CookieDiversion"},"GiftFinderOnGiftableOccasions":{"experiments":{"GiftFinderOnGiftableOccasions":{"name":"GiftFinderOnGiftableOccasions","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["GiftableOccasions"],"guards":["on_giftable_occasions_page"]}},"diversion_type":"CookieDiversion"},"GiftFinderOnGifts":{"experiments":{"GiftFinderOnGifts":{"name":"GiftFinderOnGifts","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Gifts","Control"],"guards":["on_gifts_page"]}},"diversion_type":"CookieDiversion"},"videos-on-deals":{"experiments":{"PromNightCarouselWithVideo":{"name":"PromNightCarouselWithVideo","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["PromNightVideo"]}},"diversion_type":"CookieDiversion"},"api-mobile-all-globalsearch1301usca":{"experiments":{"globalSearch1301USCA":{"name":"globalSearch1301USCA","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Original","on"],"guards":["has_mobile_global_search_division?"]}},"diversion_type":"CookieDiversion"},"SemiSync":{"experiments":{"CreditCardAuthorization":{"name":"CreditCardAuthorization","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["CreditCardAuthorization"],"guards":["on_receipt_page","eligibleForCreditCardAuthorization"]}},"diversion_type":"CookieDiversion"},"html-gift-voucher":{"experiments":{"HtmlGiftVoucher":{"name":"HtmlGiftVoucher","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["UseHtmlVoucher"],"guards":["not_ie6_request","not_live_deal?"]}},"diversion_type":"CookieDiversion"},"goods-gift-message":{"experiments":{"GiftMessage":{"name":"GiftMessage","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["GiftMessage"],"guards":["onGoodsCheckoutOrDealPages"]}},"diversion_type":"CookieDiversion"},"touch-nav-fixed":{"experiments":{"touch-nav-experiment-fixed":{"name":"touch-nav-experiment-fixed","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["nav-3"],"guards":["is_us_platform?","is_iphone?"]}},"diversion_type":"CookieDiversion"},"LeftSideRailReDesign":{"experiments":{"BuyForaFriendButton":{"name":"BuyForaFriendButton","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ChangeButtonText2"],"guards":["not_goods_deal","on_deal_or_division_page","on_non_getaways_bookable_deal"]}},"diversion_type":"CookieDiversion"},"touch-dealdetailspage0605US":{"experiments":{"dealdetailsplus0605US":{"name":"dealdetailsplus0605US","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Plus"],"guards":["is_us_platform?","email_request?","is_deals_request?"]}},"diversion_type":"CookieDiversion"},"scheduler-pre-purchase-availability":{"experiments":{"PrePurchaseAvailability":{"name":"PrePurchaseAvailability","status":"running","buckets":"1..999","bucket_min":1,"bucket_max":999,"javascript_test":true,"variants":["Control","Variant"],"guards":["deal_is_not_sold_out","scheduler_deal"]}},"diversion_type":"CookieDiversion"},"touch-subscribe":{"experiments":{"touch-subscribe-experiment":{"name":"touch-subscribe-experiment","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["subscribe","Control","subscribe-gps"],"guards":["is_us_platform?"]}},"diversion_type":"CookieDiversion"},"MobileLandingPage":{"experiments":{"MobileLandingPageExp":{"name":"MobileLandingPageExp","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["newDesign","Control"]}},"diversion_type":"CookieDiversion"},"touch-smartAppAndroid-layer0404INTL":{"experiments":{"touch-smartAppAndroid0404INTL":{"name":"touch-smartAppAndroid0404INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["showAppBanner"],"guards":["is_eu_platform?","email_request_eu?","is_android_without_blacklisted_devices?","left_to_right_country?"]}},"diversion_type":"CookieDiversion"},"deal-page-email-sharing":{"experiments":{"DealPageEmailSharing":{"name":"DealPageEmailSharing","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["EmailWizard"],"guards":["on_deal_or_division_page"]}},"diversion_type":"CookieDiversion"},"touch-LoginSignUpINTL-layer":{"experiments":{"touch-LoginSignUp2504INTL":{"name":"touch-LoginSignUp2504INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["newDesign","Control"],"guards":["is_eu_platform?","left_to_right_country?"]}},"diversion_type":"CookieDiversion"},"touch-subscribe2504INTL-layer":{"experiments":{"touch-subscribe2504INTL":{"name":"touch-subscribe2504INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["newDesign","Control","subscribe-gps"],"guards":["is_eu_platform?","left_to_right_country?"]}},"diversion_type":"CookieDiversion"},"weekly-unsubscribe":{"experiments":{"WeeklyUnsubscribe":{"name":"WeeklyUnsubscribe","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["WeeklyUnsubscribe"],"guards":["sub_center_with_channel_unsub?"]}},"diversion_type":"CookieDiversion"},"hide-reserve-tab":{"experiments":{"HideReserveTabForUsers":{"name":"HideReserveTabForUsers","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab"],"guards":["not_subscription_page","division_enabled_for_reserve"]}},"diversion_type":"CookieDiversion"},"CategoriesOnDealPages":{"experiments":{"CategoriesOnGoodsDealPages":{"name":"CategoriesOnGoodsDealPages","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowCategoriesOnGoodsDealPages"],"guards":["on_goods_deal"]}},"diversion_type":"CookieDiversion"},"VariationSelectorWidget":{"experiments":{"VariationSelectorWidget":{"name":"VariationSelectorWidget","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["NewVariationSelectorWidget","OldVariationSelectorWidget"],"guards":["on_goods_deal"]}},"diversion_type":"CookieDiversion"},"html-vouchers":{"experiments":{"HtmlVouchers":{"name":"HtmlVouchers","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["UseHtmlVoucher"]}},"diversion_type":"CookieDiversion"},"CSHelpWizard":{"experiments":{"RedirectToItierSupport":{"name":"RedirectToItierSupport","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["helpwizard"],"guards":["finch_not_touch_request?","finch_not_ipad_request?"]}},"diversion_type":"CookieDiversion"},"touch-occasionsNavExperiment0530US-layer":{"experiments":{"touch-occasionsNavExperiment0530US":{"name":"touch-occasionsNavExperiment0530US","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["occasions-nav","Control"],"guards":["is_iphone?","is_us_platform?"]}},"diversion_type":"CookieDiversion"},"touch-globalsearch-1301USCA-layer":{"experiments":{"touch-globalsearch-1301USCA":{"name":"touch-globalsearch-1301USCA","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":false,"variants":["on","Control"],"guards":["is_us_platform?","is_iphone?"]}},"diversion_type":"CookieDiversion"},"touch-starbucks_uk_mobile_only":{"experiments":{"starbucks_uk_mobile_only":{"name":"starbucks_uk_mobile_only","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["ShowStarbucksBanner"],"guards":["is_eu_platform?","is_country_uk?"]}},"diversion_type":"CookieDiversion"},"InteractionTierExample":{"experiments":{"NameChange":{"name":"NameChange","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","Treatment"]}},"diversion_type":"CookieDiversion"},"reserve-landing-hero-image":{"experiments":{"ReserveLandingSwitchHeroText":{"name":"ReserveLandingSwitchHeroText","status":"running","buckets":"0..998","bucket_min":0,"bucket_max":998,"javascript_test":true,"variants":["ShowVariant2","Control","ShowVariant3"],"guards":["division_enabled_for_reserve"]}},"diversion_type":"CookieDiversion"},"PromNightCarousel":{"experiments":{"PromNightCarousel":{"name":"PromNightCarousel","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["PromNight"]}},"diversion_type":"CookieDiversion"},"booking-engine-myreservations":{"experiments":{"BookingEngine-MyReservations":{"name":"BookingEngine-MyReservations","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["Control","MyReservations"]}},"diversion_type":"CookieDiversion"},"checkout-itier":{"experiments":{"BookingEngine":{"name":"BookingEngine","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":true,"variants":["PrePurchase","Control","PrePurchaseWithBuyButton","PrePurchaseWithBuyButton","PrePurchaseWithBuyButton","PostPurchase"]}},"diversion_type":"CookieDiversion"},"DealOptionImages":{"experiments":{"DealOptionImages":{"name":"DealOptionImages","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowDealOptionImages"],"guards":["on_goods_deal_with_option_images"]}},"diversion_type":"CookieDiversion"},"touch-nav1807INTL-layer":{"experiments":{"touch-nav1807INTL":{"name":"touch-nav1807INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","nav-2","nav-3"],"guards":["is_iphone?","is_eu_platform?"]}},"diversion_type":"CookieDiversion"},"touch-nav-experiment-android0627US-layer":{"experiments":{"touch-nav-experiment-android0627US":{"name":"touch-nav-experiment-android0627US","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["nav-3"],"guards":["is_us_platform?","is_android?"]}},"diversion_type":"CookieDiversion"},"confirmation-itier":{"experiments":{"ConfirmationItier":{"name":"ConfirmationItier","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["Itier","Control"]}},"diversion_type":"CookieDiversion"},"CSHelpWizardUI":{"experiments":{"CSPhoneFooter":{"name":"CSPhoneFooter","status":"running","buckets":"0..599","bucket_min":0,"bucket_max":599,"javascript_test":true,"variants":["HelpWizardUIPhoneExtended","Control"]}},"diversion_type":"CookieDiversion"},"CSHelpWizardReturnability":{"experiments":{"CSReturnability":{"name":"CSReturnability","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":true,"variants":["ShowReturnItemButton"]}},"diversion_type":"CookieDiversion"},"subscriptions_ui":{"experiments":{"subscriptions_ui_experiment":{"name":"subscriptions_ui_experiment","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["subscription_modalDialog_4","subscription_modalDialog_3","subscription_modalDialog_2","subscription_modalDialog_1"]}},"diversion_type":"CookieDiversion"},"itier-my-profile":{"experiments":{"ItierMyProfile":{"name":"ItierMyProfile","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["itier"],"guards":["on_myprofile_page?"]}},"diversion_type":"CookieDiversion"},"refinement-bar":{"experiments":{"RefinementBar":{"name":"RefinementBar","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","Treatment"]}},"diversion_type":"CookieDiversion"},"VariationSelectorWidgetOnGLivePage":{"experiments":{"VariationSelectorWidgetOnGLivePage":{"name":"VariationSelectorWidgetOnGLivePage","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["NewVariationSelectorWidget"]}},"diversion_type":"CookieDiversion"},"touch-dealPlus2208INTL-layer":{"experiments":{"touch-dealPlus2208INTL":{"name":"touch-dealPlus2208INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Plus"],"guards":["is_eu_platform?","email_request_eu?","is_not_country_br?"]}},"diversion_type":"CookieDiversion"},"touch-interceptBR2208INTL-layer":{"experiments":{"touch-interceptBR2208INTL":{"name":"touch-interceptBR2208INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control"],"guards":["is_eu_platform?","is_country_br?","show_intercept_page?","is_iphone_or_android_request?","email_request_eu?"]}},"diversion_type":"CookieDiversion"},"touch-goodMultiImage0905USCA":{"experiments":{"goodMultiImage0905USCA":{"name":"goodMultiImage0905USCA","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["newDesign"],"guards":["is_us_platform?"]}},"diversion_type":"CookieDiversion"},"Iovation":{"experiments":{"IovationBlackbox":{"name":"IovationBlackbox","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["Control","Treatment"]}},"diversion_type":"CookieDiversion"},"shopping_cart":{"experiments":{"shopping_cart":{"name":"shopping_cart","status":"running","buckets":"0..100","bucket_min":0,"bucket_max":100,"javascript_test":true,"variants":["enable","control"]}},"diversion_type":"CookieDiversion"},"touch-navExpAndroid0912INTL":{"experiments":{"navExpAndroid0912INTL":{"name":"navExpAndroid0912INTL","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["nav-3","Control"],"guards":["is_eu_platform?","is_android?"]}},"diversion_type":"CookieDiversion"},"contact_us_user_info":{"experiments":{"DropDownComb":{"name":"DropDownComb","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["ShowContactInfoFields"]}},"diversion_type":"CookieDiversion"},"RedirectCustomerSupportFaqTab":{"experiments":{"RedirectToItierSupportFaqTab":{"name":"RedirectToItierSupportFaqTab","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["faqTab"]}},"diversion_type":"CookieDiversion"},"touch-emailtoappinterstitial1309US":{"experiments":{"emailtoappinterstitial1309US":{"name":"emailtoappinterstitial1309US","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":false,"variants":["Intercept","Control"],"guards":["is_us_platform?","email_request?","is_iphone?","include_link_to_app?","is_deals_request?"]}},"diversion_type":"CookieDiversion"},"deal-ita-search-bar":{"experiments":{"DealItaSearchBar":{"name":"DealItaSearchBar","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["enable"]}},"diversion_type":"CookieDiversion"},"touch-linktoappandroid0913INTL":{"experiments":{"linktoappandroid0913INTL":{"name":"linktoappandroid0913INTL","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":false,"variants":["on","Original"],"guards":["is_eu_platform?","is_android_without_blacklisted_devices?","email_request_eu?"]}},"diversion_type":"CookieDiversion"},"touch-linktoappiphone0913INTL":{"experiments":{"linktoappiphone0913INTL":{"name":"linktoappiphone0913INTL","status":"running","buckets":"0..499","bucket_min":0,"bucket_max":499,"javascript_test":false,"variants":["on","Original"],"guards":["is_eu_platform?","email_request_eu?","is_iphone?"]}},"diversion_type":"CookieDiversion"},"deal-page-widgets":{"experiments":{"MegamindDealWidgetLiteScenario":{"name":"MegamindDealWidgetLiteScenario","status":"running","buckets":"0..49","bucket_min":0,"bucket_max":49,"javascript_test":false,"variants":["Control","DealPageLite"]}},"diversion_type":"CookieDiversion"},"PromNight":{"experiments":{"PromNightHeaderV1":{"name":"PromNightHeaderV1","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["showPromNight","showOldGroupon"]}},"diversion_type":"CookieDiversion"},"goods-refinement-bar":{"experiments":{"GoodsRefinementBar":{"name":"GoodsRefinementBar","status":"running","buckets":"0..100","bucket_min":0,"bucket_max":100,"javascript_test":false,"variants":["Control","Treatment"]}},"diversion_type":"CookieDiversion"}}
            
;
        var layoutConfig =
          {"hide-reserve-tab":{"experiments":{"HideReserveTabForUsers":{"name":"HideReserveTabForUsers","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":true,"variants":["Control","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab","ShowReserveTab"],"guards":["not_subscription_page","division_enabled_for_reserve"]}},"diversion_type":"CookieDiversion"},"subscriptions_ui":{"experiments":{"subscriptions_ui_experiment":{"name":"subscriptions_ui_experiment","status":"running","buckets":"0..999","bucket_min":0,"bucket_max":999,"javascript_test":false,"variants":["subscription_modalDialog_4","subscription_modalDialog_3","subscription_modalDialog_2","subscription_modalDialog_1"]}},"diversion_type":"CookieDiversion"},"PromNight":{"experiments":{"PromNightHeaderV1":{"name":"PromNightHeaderV1","status":"running","buckets":"0..0","bucket_min":0,"bucket_max":0,"javascript_test":true,"variants":["showPromNight","showOldGroupon"]}},"diversion_type":"CookieDiversion"}}
          ;
        for (var key in layoutConfig) {
          if(layoutConfig.hasOwnProperty(key)) {
            appConfig[key] = layoutConfig[key];
          }
        }
        return appConfig;
      }());

    </script>
    </head><body class="og ltr en_US en_XX" dir="ltr" style=""><script src="//staging.groupon.com/layout/assets/perflibLoader-v2.4.1-d4df8145aa.js"></script>
    <script>window.JSON || document.write('<script src="//staging.groupon.com/layout/js/json2.js">\x3C/script>')</script>
    <link href="//staging.groupon.com/layout/assets/gig_application_layout-favicon-5414457d50.ico" rel="shortcut icon">
    <link href="http://feeds.feedburner.com/groupon" rel="alternate" title="RSS" type="application/rss+xml">
    <script src="//staging.groupon.com/layout/assets/main-v2.2.1-f4645d55fc.js"></script>
    <link href="//staging.groupon.com/layout/assets/gig_application_layout-v2.2.1-b64efdbc2e.css" rel="stylesheet" type="text/css">
    <!--[if lte IE 7]>
    <script src="//staging.groupon.com/layout/js/groupon-icon-font-lte-ie7.js"></script>
    <![endif]-->

        <link href="/myprofile/assets/styles-c0bc939f5e.css" rel="stylesheet" type="text/css">
  
  <div id="personalize_wizard_call_to_action" style="display: none;">
  <div class="container clearfix" data-bhw="P13n Wizard TopCTA" data-bhw-path="P13n Wizard TopCTA">
    <a href="#" class="close" data-bhw="P13nWizardTopCTALinkClose" data-bhw-path="P13n Wizard TopCTA|P13nWizardTopCTALinkClose">Close</a>
    <div class="prompt">
      We can give you better deals if we know a bit about you.
      <a href="/myprofile" class="open_wizard" data-bhw="P13nWizardTopCTALinkOpen" data-bhw-path="P13n Wizard TopCTA|P13nWizardTopCTALinkOpen">Finish personalizing</a>
    </div>
  </div>

  <input type="hidden" name="_csrf" value="415161802cfc11e38f7b612ec96626ad">
  <input type="hidden" name="client_id" value="453f42bd14b312ee12df6da155fc947c49e2b26a">
  <input type="hidden" name="consumer_id" value="14cd6cac-d7ee-11e2-af52-00259060b5c0">
  <input type="hidden" name="auto_pop_wizard" value="true">
</div><div id="personalize_wizard" class="modal" data-bhw="P13n Wiz" data-bhw-path="P13n Wiz">
  <div class="modal-content">
    <div id="progress_indicator" data-bhw="progress_indicator" data-bhw-path="P13n Wiz|progress_indicator">
      <div class="stepped_progress_bar incomplete">
          <div class="step viewed">
            <div>
              <span class="step_number">1</span><div class="connector"></div>
            </div>
            <span class="step_name">Gender</span>
          </div>
      <div class="step">
            <div>
              <span class="step_number">2</span><div class="connector"></div>
            </div>
            <span class="step_name">Location</span>
          </div>
      <div class="step">
            <div>
              <span class="step_number">3</span>
            </div>
            <span class="step_name">Interests</span>
          </div>
  </div>
    
      <div class="stepped_progress_bar complete" style="clip: rect(0px 34px 40px 0px);">
          <div class="step">
            <span class="step_number">1</span><div class="connector"></div>
          </div>
      <div class="step">
            <span class="step_number">2</span><div class="connector"></div>
          </div>
      <div class="step">
            <span class="step_number">3</span>
          </div>
  </div>
    </div>

    <div class="step_container">
      <section id="gender_step" data-bhw="GenderStep" class="personalize_step" style="" data-bhw-path="P13n Wiz|GenderStep">
        <a href="#" class="close-modal" data-bhw="P13nWizardLinkClose" data-bhw-path="P13n Wiz|GenderStep|P13nWizardLinkClose"></a>
  <div class="step_heading grid_15">
          <h1>Who's There?</h1>
          <h4 class="subtitle">Pick one to get the best deals for you.</h4>
       </div>
        <div class="scrollable" style="height: auto;">
          <div class="force_padding_top"></div>
      
          <ul class="gender_options" data-bhw="P13nWizGenderStepGenders" data-bhw-path="P13n Wiz|GenderStep|P13nWizGenderStepGenders">
            <li class="gender male " data-value="male" data-bhc="deal_preference_gender:male" data-bhc-path="P13n Wiz|GenderStep|P13nWizGenderStepGenders|deal_preference_gender:male">
              <span class="button-label">Guy</span>
            </li>
            <li class="gender female " data-value="female" data-bhc="deal_preference_gender:female" data-bhc-path="P13n Wiz|GenderStep|P13nWizGenderStepGenders|deal_preference_gender:female">
              <span class="button-label">Gal</span>
            </li>
          </ul>
      
          <div class="force_padding_bottom"></div>
        </div>
      </section>
      <section id="places_step" data-bhw="PlacesStep" class="personalize_step" style="display:none">
        <a href="#" class="close-modal" data-bhw="P13nWizardLinkClose"></a>
  <div class="step_heading grid_15">
          <h1>Tell Us Where Home Is</h1>
          <h4> is a big place.
            Enter your home address, and we'll send you deals down the street.</h4>
        </div>
        <div class="scrollable">
          <div class="force_padding_top"></div>
            <div class="place_input grid_16 push_3 last">
              <label id="label_location_string" class="grid_4 first" for="location_string">Home address:</label>
              <div class="input_wrapper grid_8">
                <input name="location_string" value="" type="text" class="input prompting" placeholder="123 Main St., Anywhere, OH">
                <p class="places_note">You can also add more places in your profile later</p>
                <ul class="errors">
              </ul></div>
              <div class="working"></div>
            </div>
          <div class="force_padding_bottom"></div>
        </div>
        <div class="actions">
          <button class="large next_step" data-bhw="P13nWizPlacesStepButtonNext">Continue</button>
        </div>
      </section>
      <section id="interests_step" data-bhw="InterestsStep" class="personalize_step" style="display:none">
        <a href="#" class="close-modal" data-bhw="P13nWizardLinkClose"></a>
  <div class="step_heading grid_15">
          <h1>Pick Your Favorite Types of Deals</h1>
          <h4 class="subtitle">We'll show you the stuff that matches your interests.</h4>
        </div>
      
        <div class="scrollable">
          <div class="force_padding_top"></div>
          <ul class="p13n-interests">
            <li class="p13n-interest " data-model-id="foodie">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-foodie-c9cd38f94d.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-foodie-bw-403832bbb4.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Foodie</span>
                    </h5>
                    <p>The best culinary experiences and epicurean products</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="fresh-air">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-fresh-air-ccc96081bb.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-fresh-air-bw-146dc981ef.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Fresh Air</span>
                    </h5>
                    <p>Outdoor activities, from cycling to sailing</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="home-garden">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-home-garden-ba552d45f2.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-home-garden-bw-ad5c26ffbc.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Home Improvement</span>
                    </h5>
                    <p>Do it yourself, from home repairs to renovation projects</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="parent">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-parent-78eee24ea1.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-parent-bw-cee841290d.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Good for Kids</span>
                    </h5>
                    <p>Stuff that the kids will enjoy</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="pampered">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-pampered-4d8ad9e027.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-pampered-bw-f0a41babe5.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Pampered</span>
                    </h5>
                    <p>Indulgent delights, from pastries and flowers to massages and mani-pedis</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="must-love-pets">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-must-love-pets-9f2695c432.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-must-love-pets-bw-95fbd00f1f.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Pet Lover</span>
                    </h5>
                    <p>Pet amenities and accessories, from vet services to gourmet pet food</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="health-nut-or-fitness-buff">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-health-nut-or-fitness-buff-20caeb82e2.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-health-nut-or-fitness-buff-bw-e3fd5c2cb3.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Healthy Living</span>
                    </h5>
                    <p>For those who take care of their overall well-being with exercise, yoga, and balanced nutrition</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="adrenaline-junkie">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-adrenaline-junkie-a9add546af.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-adrenaline-junkie-bw-036cbde604.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Adrenaline</span>
                    </h5>
                    <p>Thrilling and heart-pounding experiences</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="skip-town">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-skip-town-f7f5558d47.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-skip-town-bw-4c24bdb12e.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Road Trip</span>
                    </h5>
                    <p>Quick getaways, such as day trips or nearby overnights</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="will-call">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-will-call-6b620243f4.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-will-call-bw-b2b01222c9.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">Will Call</span>
                    </h5>
                    <p>Live sports, music, and theater events</p>
                  </div>
                </div>
              </div>
            </li>
      <li class="p13n-interest " data-model-id="new-car-smell">
              <div class="frame">
                <img class="active_image" src="/myprofile/assets/personalize_wizard-interest-new-car-smell-b39e17ccb2.png">
                <img class="inactive_image" src="/myprofile/assets/personalize_wizard-interest-new-car-smell-bw-4e44ce965e.png">
                <div class="overlay">
                  <div class="summary">
                    <h5>
                      <span class="heart">New Car Smell</span>
                    </h5>
                    <p>For those who strive to keep their car looking good and running well</p>
                  </div>
                </div>
              </div>
            </li>
    </ul>
          <div class="force_padding_bottom"></div>
        </div>
      
        <div class="actions">
          <button class="large next_step" data-bhw="P13nWizInterestsStepButtonFinish">I'm Done!</button>
        </div>
      </section>
    </div>
  </div>

  <input type="hidden" name="has_provided_location" value="false">
  <input type="hidden" name="has_provided_deal_preference_gender" value="false">
</div>
    <div style="visibility: hidden; position: absolute;">
      <script type="text/javascript">
        var dataLayer =
          
      {}
;
    
        dataLayer.dl_user_id = "14cd6cac-d7ee-11e2-af52-00259060b5c0";
    window.dataLayer = [dataLayer];
      </script>
  
    </div>

    <div id="global-container">

      <header class="header" data-bhw="Header" role="banner" data-bhw-path="Header">
        <div class="row">
          <div class="twelve columns">
            <a href="/" class="logo" data-bhw="Logo" data-track="{&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;logo_click&quot;}" data-bhw-path="Header|Logo"></a>
      
              <nav class="primary-nav" role="navigation">
          <ul>
            <li data-bhw="NavHome" data-bhw-path="Header|NavHome">
              <a href="/chicago?brd=false">Featured Deal</a>
            </li>
            <li data-bhw="NavAllDeals" data-bhw-path="Header|NavAllDeals">
              <a href="/browse/chicago">All Deals</a>
            </li>
            <li data-bhw="NavGetaways" data-bhw-path="Header|NavGetaways">
              <a href="/getaways">Getaways</a>
            </li>
            <li data-bhw="NavGoods" data-bhw-path="Header|NavGoods">
              <a href="/goods">Goods</a>
            </li>
            <li class="reserve-tab" data-bhw="NavReserve" data-bhw-path="Header|NavReserve">
              <a href="/reserve/chicago" class="reserve G_event E-GlobalTopNavNH_GReserve">Reserve</a>
            </li>
        
                <li class="Occasion" data-bhw="NavOccasion" data-bhw-path="Header|NavOccasion">
          <a href="/occasions" class="G_event E-GobalTopNavNH_GrouponOccasion" data-track="{&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;occasion_tab_selected&quot;}">Fall Savings</a>
        </li>
    <li class="gifting" data-bhw="NavGifts" data-bhw-path="Header|NavGifts">
          <a href="/gifts" class="link G_event E-GobalTopNavNH_Gifts_GiftableDeals" data-track="{&quot;n&quot;:&quot;gifts&quot;,&quot;event&quot;:&quot;click&quot;,&quot;t&quot;:&quot;topnav_click&quot;}">Gifts<span></span></a>
        </li>
  </ul>
        </nav>

            <nav class="user-menu signed-in">
              <a href="/mygroupons" class="user-name">55823228-first_name 5.</a>
              <ul class="my-stuff">
                <h6>My Stuff</h6>
                <li><a id="user-groupons" href="/users/55823228-permalink/groupons">My Groupons</a></li>
                <li><a id="user-gift_cards" href="/users/55823228-permalink/gift_cards">My Gifts</a></li>
                <li><a id="user-account" href="/users/55823228-permalink/account">My Account</a></li>
                <li><a id="user-profile" href="/users/55823228-permalink/profile/edit">My Profile</a></li>
                  <li><a id="user-subscriptions" href="/subscription_center">My Email Subscriptions</a></li>
          <li><a href="/logout" class="sign-out" id="sign-out">Sign Out</a></li>
              </ul>
            </nav>

      
          </div>
        </div>
      </header>

      <nav class="secondary-nav" role="navigation">
        <div class="row">
          <div class="twelve columns">
    </div>
        </div>
      </nav>

        <div class="row sub-header">
      
            <div class="four columns">
          <a href="/visitor_referral" class="refer-a-friend" data-bhw="ReferFriends" data-bhw-path="ReferFriends">
            <span class="icon-currency"></span>
    Refer Friends. Get $10*
        </a>
      </div>

      
        </div>

      <section class="main row">
  <div class="twelve columns">
    <section class="module my-groupons">
      <div class="module-body">
        <h2 data-bhw="My Stuff Header" data-bhw-path="My Stuff Header">My Stuff</h2>
        <div class="row">
          <div class="tabs-container">
            <ul class="tabs" data-bhw="User Profile NavBar" data-bhw-path="User Profile NavBar">
              <li data-bhc="UserProfileNavBarTab:My Groupons" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Groupons"><a href="/users/55823228-permalink/groupons">My Groupons</a></li>
              <li data-bhc="UserProfileNavBarTab:My Reservations" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Reservations"><a href="/users/55823228-permalink/reservations">My Reservations</a></li>
              <li data-bhc="UserProfileNavBarTab:My Gifts" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Gifts"><a href="/users/55823228-permalink/gift_cards">My Gifts</a></li>
              <li data-bhc="UserProfileNavBarTab:My Account" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Account"><a href="/users/55823228-permalink/account">My Account</a></li>
              <li data-bhc="UserProfileNavBarTab:My Profile" class="active" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Profile"><a href="/users/55823228-permalink/profile/edit">My Profile</a></li>
                <li data-bhc="UserProfileNavBarTab:My Email Subscriptions" data-bhc-path="User Profile NavBar|UserProfileNavBarTab:My Email Subscriptions"><a href="/subscription_center">My Email Subscriptions</a></li>
            </ul>
          </div>
        </div>

        
<div class="flash_wrapper"></div>

<div data-bhw="My Profile" class="twelve columns" data-bhw-path="My Profile">
  <div>
    <img src="http://images.wikia.com/battlefordreamislandfanfiction/images/d/d5/Karate_Belt.png" alt="Smiley face" width="42" height="42">
    <a class='testing' href="#" onclick="toggle_visibility('content_test');">Belt Points: <%= @points %></a>
    <div class= 'hide ex' id='content_test'> 
      <ul style="list-style: none;">
        <li><h2><b>Points To Next Level: <%= @next_level_points %></b></h2></li>
        <li><h5>Suggestion For Next Level:</h5></li>
        <li>Buy a new deal</li>
        <li>share status of deal on facebook and twitter</li>
        <li>refer a friend for groupon</li>
        <li>give feedback for groupon deals</li>
        <li>download groupon app</li>
        <li>feedback for groupon app</li>
      </ul>
    </div>
  </div>
</div>
  <div class="personalize-banner text-center">
    <h3>Get Better Deals in a Few Seconds.</h3>
    <p>
Where do you want your deals? What kind of stuff do you <span class="icon-heart-filled"></span> <span class="label-heart">love</span>? Your preferences stay between us.    </p>
  </div>
  <div class="section">
    <div class="section four columns" data-bhw="About Me Section" data-bhw-path="My Profile|About Me Section">
      <div class="section-title">
        <h4>A few basics about you</h4>
        <p>We'll show only relevant deals.</p>
      </div>
      <form class="form-autosubmit" name="myprofile" method="post" data-bhc="Gender:Unknown" data-bhc-path="My Profile|About Me Section|Gender:Unknown">
    <input type="hidden" name="_csrf" value="415161802cfc11e38f7b612ec96626ad">
  
    <label for="deal_preference_gender">I prefer deals for:</label>
  
    <select id="deal_preference_gender" name="deal_preference_gender" class="twelve">
      <option value="female">Women</option>
      <option value="male">Men</option>
      <option value="both" selected="">Both women and men</option>
    </select>
  
    <input class="button-submit" type="submit" value="Save Profile">
  </form>
</div>
    <div class="section eight columns" data-bhw="Places Section" data-bhw-path="My Profile|Places Section">
      <div class="section-title">
        <h4>Where do you want your deals?</h4>
        <p>
    Take a few seconds to share your <strong>home</strong>, <strong>work</strong>, and <strong>other favorite</strong> places.    </p>
      </div>
      <ul class="places-list">
          <li class="place" data-id="b2a27d4e-16d9-11e3-8f40-00259060b644" data-type="[missing en_US '.places.types.53213640-name' translation]" data-bhc="location:b2a27d4e-16d9-11e3-8f40-00259060b644" data-bhc-path="My Profile|Places Section|location:b2a27d4e-16d9-11e3-8f40-00259060b644">
        <span class="icon-marker"></span>
        53213640-location_string
          <div class="controls" data-bhw="LocationListingControls" data-bhw-path="My Profile|Places Section|location:b2a27d4e-16d9-11e3-8f40-00259060b644|LocationListingControls">
            <a class="delete" href="#" data-bhw="LocationListingControlsDelete" data-bhw-path="My Profile|Places Section|location:b2a27d4e-16d9-11e3-8f40-00259060b644|LocationListingControls|LocationListingControlsDelete">delete</a>
          </div>
</li>

        <form class="place edit row" data-bhw="New Location Input" method="post" action="/myprofile/places" data-bhw-path="My Profile|Places Section|New Location Input">
      <input type="hidden" name="_csrf" value="415161802cfc11e38f7b612ec96626ad">
      <input type="hidden" name="sync" value="true">
    
      <div class="input_wrapper seven columns" data-bhw="Location Input" data-bhw-path="My Profile|Places Section|New Location Input|Location Input">
        <input name="locationString" type="text" class="input-small prompting_field twelve" value="" data-hw="NewLocationInputLocation" placeholder="123 Main St., Anywhere, OH">
      </div>
    
      <div class="three columns" data-bhw="Location Type Selector" data-bhw-path="My Profile|Places Section|New Location Input|Location Type Selector">
        <select class="twelve input-small" name="name">
          <option value="home">Home</option>
          <option value="work">Work</option>
          <option value="play">Favorite</option>
        </select>
      </div>
    
      <div class="columns" data-bhw="New Location Input Controls" data-bhw-path="My Profile|Places Section|New Location Input|New Location Input Controls">
        <input type="submit" class="add btn btn-small submit" href="place" data-bhw="NewLocationInputControlsAdd" value="Add" data-bhw-path="My Profile|Places Section|New Location Input|New Location Input Controls|NewLocationInputControlsAdd">
      </div>
    </form>
  </ul>
    </div>
    <div class="interests-section section twelve columns" data-bhw="Deal Preferences Section" data-bhw-path="My Profile|Deal Preferences Section">
      <div class="section-title">
        <h4>Deal Preferences</h4>
        <p>Tell us what you like. We'll remember, we promise.</p>
      </div>
        <div class="row">
            <ul class="four columns">
            <li data-bhc="DealType:adrenaline-junkie" data-permalink="adrenaline-junkie" data-bhc-path="My Profile|Deal Preferences Section|DealType:adrenaline-junkie">
              Adrenaline
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:always-learning" data-permalink="always-learning" data-bhc-path="My Profile|Deal Preferences Section|DealType:always-learning">
              Always Learning
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:music-lover" data-permalink="music-lover" data-bhc-path="My Profile|Deal Preferences Section|DealType:music-lover">
              Audiophile
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:bookworm" data-permalink="bookworm" data-bhc-path="My Profile|Deal Preferences Section|DealType:bookworm">
              Bookworm
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:boutique-hotel" data-permalink="boutique-hotel" data-bhc-path="My Profile|Deal Preferences Section|DealType:boutique-hotel">
              Boutique Hotel
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:white-tablecloth" data-permalink="white-tablecloth" data-bhc-path="My Profile|Deal Preferences Section|DealType:white-tablecloth">
              BYO
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:comedic" data-permalink="comedic" data-bhc-path="My Profile|Deal Preferences Section|DealType:comedic">
              Comedic
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:craft-beer" data-permalink="craft-beer" data-bhc-path="My Profile|Deal Preferences Section|DealType:craft-beer">
              Craft Beer
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:do-it-yourselfer" data-permalink="do-it-yourselfer" data-bhc-path="My Profile|Deal Preferences Section|DealType:do-it-yourselfer">
              Crafty
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:cultural-pursuits" data-permalink="cultural-pursuits" data-bhc-path="My Profile|Deal Preferences Section|DealType:cultural-pursuits">
              Cultural Pursuits
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:good-for-2" data-permalink="good-for-2" data-bhc-path="My Profile|Deal Preferences Section|DealType:good-for-2">
              Date Night
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:do-gooder" data-permalink="do-gooder" data-bhc-path="My Profile|Deal Preferences Section|DealType:do-gooder">
              Do-Gooder
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:veggie" data-permalink="veggie" data-bhc-path="My Profile|Deal Preferences Section|DealType:veggie">
              Farm-to-Table
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:foodie" data-permalink="foodie" data-bhc-path="My Profile|Deal Preferences Section|DealType:foodie">
              Foodie
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:fountain-of-youth" data-permalink="fountain-of-youth" data-bhc-path="My Profile|Deal Preferences Section|DealType:fountain-of-youth">
              Fountain of Youth
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:fresh-air" data-permalink="fresh-air" data-bhc-path="My Profile|Deal Preferences Section|DealType:fresh-air">
              Fresh Air
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:gadgets-gear" data-permalink="gadgets-gear" data-bhc-path="My Profile|Deal Preferences Section|DealType:gadgets-gear">
              Gadgets + Gear
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:gaming" data-permalink="gaming" data-bhc-path="My Profile|Deal Preferences Section|DealType:gaming">
              Gamer
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:girls-night-out" data-permalink="girls-night-out" data-bhc-path="My Profile|Deal Preferences Section|DealType:girls-night-out">
              Girls Night Out
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:good-for-gifting" data-permalink="good-for-gifting" data-bhc-path="My Profile|Deal Preferences Section|DealType:good-for-gifting">
              Good for Gifting
              <div class="heart"></div>
            </li>
</ul>
        <ul class="four columns">
            <li data-bhc="DealType:parent" data-permalink="parent" data-bhc-path="My Profile|Deal Preferences Section|DealType:parent">
              Good for Kids
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:outdoorsy" data-permalink="outdoorsy" data-bhc-path="My Profile|Deal Preferences Section|DealType:outdoorsy">
              Great Outdoors
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:digging-in-the-dirt" data-permalink="digging-in-the-dirt" data-bhc-path="My Profile|Deal Preferences Section|DealType:digging-in-the-dirt">
              Green Thumb
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:paint-the-town" data-permalink="paint-the-town" data-bhc-path="My Profile|Deal Preferences Section|DealType:paint-the-town">
              Happy Hour
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:health-nut-or-fitness-buff" data-permalink="health-nut-or-fitness-buff" data-bhc-path="My Profile|Deal Preferences Section|DealType:health-nut-or-fitness-buff">
              Healthy Living
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:home-garden" data-permalink="home-garden" data-bhc-path="My Profile|Deal Preferences Section|DealType:home-garden">
              Home Improvement
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:home-theater" data-permalink="home-theater" data-bhc-path="My Profile|Deal Preferences Section|DealType:home-theater">
              Home Theater
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:kitchen-couture" data-permalink="kitchen-couture" data-bhc-path="My Profile|Deal Preferences Section|DealType:kitchen-couture">
              Kitchen Couture
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:low-key" data-permalink="low-key" data-bhc-path="My Profile|Deal Preferences Section|DealType:low-key">
              Let's Do Brunch
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:lighter-footprint" data-permalink="lighter-footprint" data-bhc-path="My Profile|Deal Preferences Section|DealType:lighter-footprint">
              Lighter Footprint
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:luxe-travel" data-permalink="luxe-travel" data-bhc-path="My Profile|Deal Preferences Section|DealType:luxe-travel">
              Luxe Travel
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:movie-buff" data-permalink="movie-buff" data-bhc-path="My Profile|Deal Preferences Section|DealType:movie-buff">
              Movie Buff
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:timeless-classics" data-permalink="timeless-classics" data-bhc-path="My Profile|Deal Preferences Section|DealType:timeless-classics">
              Musicals
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:chic-cozy" data-permalink="chic-cozy" data-bhc-path="My Profile|Deal Preferences Section|DealType:chic-cozy">
              Nester
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:new-car-smell" data-permalink="new-car-smell" data-bhc-path="My Profile|Deal Preferences Section|DealType:new-car-smell">
              New Car Smell
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:night-lifer" data-permalink="night-lifer" data-bhc-path="My Profile|Deal Preferences Section|DealType:night-lifer">
              Night Owl
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:once-in-a-lifetime" data-permalink="once-in-a-lifetime" data-bhc-path="My Profile|Deal Preferences Section|DealType:once-in-a-lifetime">
              Once in a Lifetime
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:music-fest" data-permalink="music-fest" data-bhc-path="My Profile|Deal Preferences Section|DealType:music-fest">
              Outdoor Festivals
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:pampered" data-permalink="pampered" data-bhc-path="My Profile|Deal Preferences Section|DealType:pampered">
              Pampered
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:more-the-merrier" data-permalink="more-the-merrier" data-bhc-path="My Profile|Deal Preferences Section|DealType:more-the-merrier">
              Party Planner
              <div class="heart"></div>
            </li>
</ul>
        <ul class="four columns">
            <li data-bhc="DealType:shaken-not-stirred" data-permalink="shaken-not-stirred" data-bhc-path="My Profile|Deal Preferences Section|DealType:shaken-not-stirred">
              Perfect Gentleman
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:must-love-pets" data-permalink="must-love-pets" data-bhc-path="My Profile|Deal Preferences Section|DealType:must-love-pets">
              Pet Lover
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:photographic" data-permalink="photographic" data-bhc-path="My Profile|Deal Preferences Section|DealType:photographic">
              Photographic
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:pop-star" data-permalink="pop-star" data-bhc-path="My Profile|Deal Preferences Section|DealType:pop-star">
              Pop Star
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:casual-diner" data-permalink="casual-diner" data-bhc-path="My Profile|Deal Preferences Section|DealType:casual-diner">
              Quick Bites
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:rainy-days" data-permalink="rainy-days" data-bhc-path="My Profile|Deal Preferences Section|DealType:rainy-days">
              Rainy Day
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:skip-town" data-permalink="skip-town" data-bhc-path="My Profile|Deal Preferences Section|DealType:skip-town">
              Road Trip
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:alternative-rock" data-permalink="alternative-rock" data-bhc-path="My Profile|Deal Preferences Section|DealType:alternative-rock">
              Rock Concert
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:romantic-getaway" data-permalink="romantic-getaway" data-bhc-path="My Profile|Deal Preferences Section|DealType:romantic-getaway">
              Romantic Getaway
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:simple-pleasures" data-permalink="simple-pleasures" data-bhc-path="My Profile|Deal Preferences Section|DealType:simple-pleasures">
              Simple Pleasures
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:sporting-life" data-permalink="sporting-life" data-bhc-path="My Profile|Deal Preferences Section|DealType:sporting-life">
              Sporting Life
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:swimsuit-season" data-permalink="swimsuit-season" data-bhc-path="My Profile|Deal Preferences Section|DealType:swimsuit-season">
              Swimsuit Season
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:tee-time" data-permalink="tee-time" data-bhc-path="My Profile|Deal Preferences Section|DealType:tee-time">
              Tee Time
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:the-finer-things" data-permalink="the-finer-things" data-bhc-path="My Profile|Deal Preferences Section|DealType:the-finer-things">
              The Finer Things
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:theater-district" data-permalink="theater-district" data-bhc-path="My Profile|Deal Preferences Section|DealType:theater-district">
              Theater District
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:wearables" data-permalink="wearables" data-bhc-path="My Profile|Deal Preferences Section|DealType:wearables">
              Threads
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:urban-retreat" data-permalink="urban-retreat" data-bhc-path="My Profile|Deal Preferences Section|DealType:urban-retreat">
              Urban Retreat
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:grooming" data-permalink="grooming" data-bhc-path="My Profile|Deal Preferences Section|DealType:grooming">
              Well-Groomed
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:will-call" data-permalink="will-call" data-bhc-path="My Profile|Deal Preferences Section|DealType:will-call">
              Will Call
              <div class="heart"></div>
            </li>
    <li data-bhc="DealType:wine-country" data-permalink="wine-country" data-bhc-path="My Profile|Deal Preferences Section|DealType:wine-country">
              Wine Country
              <div class="heart"></div>
            </li>
</ul>
    </div>
</div>
  </div>
</div>

<span id="js-csrf-token" data-value="415161802cfc11e38f7b612ec96626ad" class="hidden"></span>

<script src="/myprofile/assets/main-5de0c0b321.js"></script>
<script src="/myprofile/js/locale.js"></script>

<script>
  Groupon.Modules.MyProfile.Templates = {"flash":"{{#success}}\n  <div class='row notification success'>\n    {{success}}\n  </div>\n{{/success}}\n{{#error}}\n  <div class='row notification error'>\n    {{error}}\n  </div>\n{{/error}}\n"}
</script>


      </div>
    </section>
  </div>
</section>


      
        <footer class="footer-promos" data-bhw="FooterPromos" data-bhw-path="FooterPromos">
    <div class="row">
      <div class="five columns">
        <div class="app-promo">
          <img src="//staging.groupon.com/layout/assets/gig_footer-footer_phones-a0b734406c.png" alt="Groupon for mobile devices">
          <h6>
            Great Deals <br> at Your Fingertips
          </h6>
          <p>
            Search, Purchase and Redeem <br> Groupons directly from your <br> mobile device.
          </p>
          <a href="/mobile?utm_source=gp&amp;utm_medium=footer&amp;utm_campaign=mlusers" class="btn btn-small" data-bhw="sms_footer" data-bhw-path="FooterPromos|sms_footer">Get the App Now</a>
        </div>
      </div>
  
      <div class="seven columns">
        <ul class="block-grid three-up">
          <li class="footer-promo works-promo">
            <a href="http://www.grouponworks.com"><img src="//staging.groupon.com/layout/assets/gig_footer-groupon-works-69c4fa4341.png" alt="Groupon Works"></a>
            <h6><a href="http://www.grouponworks.com">Grow Your Business</a></h6>
            <p>
              Get new customers and grow your business by <a href="http://www.grouponworks.com/get-featured">selling on Groupon</a>. See why thousands of businesses have succeeded <a href="http://www.grouponworks.com/get-featured">advertising on Groupon</a>.          </p>
          </li>
  
          <li class="footer-promo grassroots-promo">
            <a href="http://grassroots.groupon.com"><img src="//staging.groupon.com/layout/assets/gig_footer-groupon-grassroots-04c8aaae9c.png" alt="Groupon Grassroots"></a>
            <h6><a href="http://grassroots.groupon.com">Help Your Community</a></h6>
            <p>
              Discover local causes and lend a helping hand. Make a big impact with one little click. <a href="http://grassroots.groupon.com/">Get involved</a>.
            </p>
          </li>
  
          <li class="footer-promo amex-promo">
            <img src="//staging.groupon.com/layout/assets/gig_footer-amex-f52af60e40.png" alt="American Express">
            <h6>American Express Cards Welcomed by Groupon</h6>
          </li>
        </ul>
      </div>
    </div>
  </footer>
  
  <footer class="footer-sitemap" data-bhw="FooterLinks" role="contentinfo" data-bhw-path="FooterLinks">
    <div class="row">
      <div class="five columns">
        <ul class="block-grid two-up">
          <li>
            <h6>Company</h6>
            <ul class="unstyled">
              <li><a id="company-home" href="/">Home</a></li>
              <li><a id="company-about" href="/about">About Groupon</a></li>
              <li><a id="company-blog" href="/blog">Blog</a></li>
              <li><a id="company-press" href="/press">Press</a></li>
              <li><a id="company-jobs" href="http://jobs.groupon.com">Jobs</a></li>
              <li><a id="company-investor" href="http://investor.groupon.com">Investor Relations</a></li>
            </ul>
          </li>
          <li>
            <h6>Get Help</h6>
            <ul class="unstyled">
              <li><a id="help-faq" href="/faq">FAQ</a></li>
              <li><a id="help-support" href="/helpcenter">Customer Support</a></li>
              <li><a id="help-return" href="/groupon-promise">Return Policy</a></li>
              <li><a id="help-terms" href="/terms">Terms of Use</a></li>
              <li><a id="help-privacy" href="/privacy">Privacy Statement</a></li>
            </ul>
          </li>
        </ul>
  
        <h6>Follow Us</h6>
      <ul class="unstyled follow-us">
        <li><a href="http://facebook.com/groupon" class="icon-facebook"></a></li>
        <li><a href="http://twitter.com/groupon" class="icon-twitter"></a></li>
        <li><a href="/subscribe" class="icon-email"></a></li>
        <li><a href="http://feeds.feedburner.com/groupon" class="icon-feed"></a></li>
      </ul>
    </div>
      <div class="seven columns">
        <ul class="block-grid three-up">
          <li>
            <h6>Work with Groupon</h6>
              <ul class="unstyled">
                <li><a id="work-advertise" href="http://www.grouponworks.com/get-featured">Advertise with Groupon</a></li>
                <li><a id="work-deal" href="http://www.grouponworks.com/get-featured">Run a Groupon Deal</a></li>
                <li><a id="work-payments" href="http://www.grouponworks.com/merchant-solutions/payments">Accept Groupon Payments</a></li>
                <li><a id="work-affiliates" href="http://www.grouponaffiliate.com/">Affiliate Program</a></li>
                <li><a id="work-developers" href="/pages/api">Developers / API</a></li>
                <li><a id="work-referrals" href="/widget">Groupon Referral Widget</a></li>
                <li><a id="work-community" href="http://grassroots.groupon.com">Help Your Community</a></li>
                <li><a id="work-terms" href="/merchant-terms-and-conditions">Merchant Terms &amp; Conditions</a></li>
              </ul>
          </li>
          <li>
            <h6>More...</h6>
              <ul class="unstyled">
                <li><a id="more-gifts" href="/gifts" data-bhw="FooterGiftsLink" data-bhw-path="FooterLinks|FooterGiftsLink">Gifts</a></li>
                <li><a id="more-gift-cards" href="/giftcards">Gift Cards</a></li>
                <li><a id="more-mobile" href="/mobile">Mobile</a></li>
                <li><a id="more-live-off-groupon" href="http://www.liveoffgroupon.com/">Live Off Groupon</a></li>
                <li><a id="more-breadcrumb" href="http://www.breadcrumbpos.com/">Breadcrumb iPad POS</a></li>
                <li><a id="more-photos" href="http://www.flickr.com/photos/grouponcorporate/sets">Share Photos</a></li>
              </ul>
          </li>
          <li>
            <h6>Unbeatable Deals for Local&nbsp;Adventures</h6>
            <p>
              Groupon is an easy way to get huge discounts while discovering fun activities in your city. Our daily local deals consist of <a href="/local/restaurants">restaurants</a>, <a href="/local/beauty-and-spas">spas</a>, <a href="/local/things-to-do">things to do</a>, <a href="/local/nightlife">nightlife</a>, <a href="/local/massage">massages</a>, <a href="/local/hair-salon">salons</a>, <a href="/local/getaways">hotels</a>, and a whole lot more, in hundreds of cities across the&nbsp;world.
            </p>
            <p> 2013 Groupon, Inc.<br>All Rights Reserved.</p>
          </li>
        </ul>
      </div>
    </div>
  </footer>

      <div class="touch-footer hide">
  <a class="row" href="">
    Go to mobile site
  </a>
</div>

    </div>
  

</body></html>